{% extends 'blogs/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<div class="row justify-content-center">
    <div class="">
        <div class="card rounded-3 p-4">
            <h4 class="fw-bold mb-4">Создать мой пост</h4>
            <form action="{% url 'blogs:new_entry' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <a href="{% url 'blogs:index' %}" class="btn btn-outline-secondary">
                        Отмена
                    </a>
                    <button type="submit" class="btn btn-dark">
                        Создать
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}